$break-small: 400px;
$break-large: 650px;
@mixin respond-to($media) {
  @if $media==handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  }
  @else if $media==medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  }
  @else if $media==wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

sample-detail {
  background: rgba(51, 51, 51, 0.4);
  text-align: center;
  color: #f8f8f8 !important;
  .sample-detail-wrapper {
    border: 1px solid #4297d7;
    background: #5c9ccc;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    text-align: left;
    border-radius: 5px;
    @media screen and (max-width: $break-small) {
      padding: 0;
    }
    @media screen and (min-width: $break-large) {
      padding: 2px 4em 0 4em;
    }
    >div {
      padding: 3px;
      label {
        display: inline-block;
        @include respond-to(handhelds) {
          width: 32%;
        }
        @include respond-to(medium-screens) {
          width: 30%;
        }
        @include respond-to(wide-screens) {
          width: 25%;
        }
      }
      div {
        display: inline-block;
        padding-left: 2px;
      }
    }
  }
  p-dropdown {
    color: black;
  }
}

.control-wrapper {
  text-align: left;
  padding-top: 2em;
  .control-delete {
    display: inline-block;
    position: fixed;
    right: 32px;
  }
}
