<h3>Top Samples</h3>

<p-dataList class="ui-fluid" [value]="topUsers" [styleClass]="'ui-datalist'">
  <p-header>Users with the most Samples</p-header>
  <p-footer>Choose from the list to go to their details.</p-footer>
  <ng-template let-user pTemplate="item">
    <div class="ui-g ui-fluid" (click)="onSelect(user)">
      <div class="user-info-wrapper ui-g-12 ui-md-6 ui-lg-3">
        <div>FirstName: </div>
        <div>{{user.FirstName}}</div>
      </div>

      <div class="user-info-wrapper ui-g-12 ui-md-6 ui-lg-3">
        <div>LastName: </div>
        <div>{{user.LastName}}</div>
      </div>

      <div class="user-info-wrapper ui-g-12 ui-md-6 ui-lg-3">
        <div>Sample Count: </div>
        <div>{{user.SampleCount}}</div>
      </div>
    </div>
  </ng-template>
</p-dataList>
