@import '../../node_modules/primeng/resources/themes/bootstrap/theme.css';
$break-small: 320px;
$break-large: 1200px;
body {
  padding: 0 2px 4px 2px;
  background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #154265 20%, #7392c2);
  min-height: 100%;
  background-attachment: fixed, fixed;
  color: #f8f8f8;
}
